<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
    lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beispiel</title>
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
    <div class="header" th:replace="~{/fragments/header :: header}">
        <h1>Dmservices</h1>
    </div>
    <div class="main">
        <div class="container" >
            <div class="row">
                <div class="col view-col">
                    <div class="account-card">
                        <img src="../static/images/account/piggy.png" th:src="@{/images/account/{icon}(icon=${#strings.toLowerCase(account.icon + '.png')})}" alt="account-icon">
                        <h2 th:text="${account.name}">Account name</h2>
                        <p th:text="${account.note}">Account note come here to put additional information</p>
                    </div>
                </div>
                <div class="col col-buttons">
                    <button id="editButton" class="btn btn-edit">Edit Konto</button>
                    <button id="manageButton" class="btn btn-edit">Manage Items</button>
                </div>
                <div class="col col-forms">
                    <form th:replace="~{/fragments/forms :: editorForm}" th:action="@{/edit/accountName}" th:object="${account}" action="#" class="formation-form">
                    </form>
                </div>
                <div class="col col-forms">
                    <form th:replace="~{/fragments/forms :: incomesForm}" th:action="@{/editItems/accountName}" th:object="${account}" action="#" class="formation-form">
                    </form>
                </div>
                <div class="col col-forms">
                    <form th:replace="~{/fragments/forms :: saveStatsForm}" th:action="@{/saveStats/accountName}" th:object="${account}" action="#" class="formation-form">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col" th:if="${#lists.isEmpty(account.incomes) && #lists.isEmpty(account.expenses)}">
                    <h2>No items yet</h2>
                </div>
                <div class="col col-tables" th:replace="~{/fragments/itemTables :: itemTables}"></div>
            </div>
            <div class="row">
                <div class="col" th:each="stat : ${stats}" th:replace="~{/fragments/statsChart :: statsChart}">
                </div>
            </div>
        </div>

    </div>
    <div class="footer" th:replace="~{/fragments/footer :: footer}">
        <p>cool Copy 2024</p>
    </div>
</body>
</html>