<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
    lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microservices</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=VT323&display=swap" >
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
    <link rel="stylesheet" th:href="@{/css/animations.css}" href="../static/css/animations.css"/>
    <link rel="stylesheet" th:href="@{/css/forms.css}" href="../static/css/forms.css" />
    <link rel="stylesheet" th:href="@{/css/inputs.css}" href="../static/css/inputs.css" />
    <link rel="stylesheet" th:href="@{/css/stats.css}" href="../static/css/stats.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
    <script src="../static/js/lib/jquery-3.7.1.min.js" th:src="@{/js/lib/jquery-3.7.1.min.js}"></script>
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>

    <section class="top-page">
        <div id="loggedIn" th:data-logged="${logged}" data-logged="false"></div>
        <div id="welcome-page" th:replace="fragments/welcome :: welcomePage">
            <div class="up-title">Welcome to Microservices</div>
            <div class="left-title"><span class="green-text">Account:</span><span>demo</span></div>
            <div class="right-title"><span class="green-text">Last seen:</span><span>24/04/2024</span></div>
            <div class="bottom-buttons">
                <div class="plus" id="plus">
                    <div class="plus-border beat">
                        <div class="plus-one"></div>
                        <div class="plus-two"></div>
                    </div>
                    <div class="plus-text">jump in</div>
                </div>
                <form class="minus" method="post" action="/logout">
                    <button>
                        <div class="minus-border">
                            <div class="minus-line"></div>
                        </div>
                        <div class="minus-text">go out</div>
                    </button>
                </form>
            </div>
        </div>
        <div id="avatar-wrapper" class="avatar-wrapper" th:replace="fragments/welcome :: avatarModal">
            <div class="avatar-modal">
                <div class="avatar-button forward plus avatar-piggy"></div>
                <div class="avatar-options">
                    <div id="noteInitValue" data-note="I'm using microservices!" style="display: none;"></div>
                    <div id="avatarInitValue" data-avatar="piggy" style="display: none;"></div>
                    <form id="note-form">
                        <div id="modal-avatar" class="custom-select custom-select-avatars">
                            <div class="selected-option">
                                <div class="option-item bg-piggy" data-avatar="piggy">
                                    <div class="option-icon"></div>
                                </div>
                            </div>
                            <div class="select-list">
                                <div class="option-item bg-piggy" data-avatar="piggy">
                                    <div class="option-icon"></div>
                                </div>
                                <div class="option-item bg-cow" data-avatar="cow">
                                    <div class="option-icon"></div>
                                </div>
                                <div class="option-item bg-fox" data-avatar="fox">
                                    <div class="option-icon"></div>
                                </div>
                                <div class="option-item bg-boss" data-avatar="boss">
                                    <div class="option-icon"></div>
                                </div>
                                <div class="option-item bg-turtle" data-avatar="turtle">
                                    <div class="option-icon"></div>
                                </div>
                                <div class="option-item bg-rabbit" data-avatar="rabbit">
                                    <div class="option-icon"></div>
                                </div>
                                <div class="option-item bg-secretary" data-avatar="secretary">
                                    <div class="option-icon"></div>
                                </div>
                                <div class="option-item bg-elephant" data-avatar="elephant">
                                    <div class="option-icon"></div>
                                </div>
                                <div class="option-item bg-bear" data-avatar="bear">
                                    <div class="option-icon"></div>
                                </div>
                            </div>
                        </div>
                        <textarea class="textarea-note" value="I'm using microservices!">I'm using microservices!</textarea>
                        <div class="modal-buttons">
                            <button class="primary-button" type="submit" disabled>Save</button>
                            <button class="danger-button" type="submit" disabled>Discard</button>
                        </div>
                    </form>
                    <button class="back-button">Back to home</button>
                </div>
            </div>
        </div>
        <div class="main-page">
            <form  id="form-wrapper" action="#" th:replace="fragments/forms :: itemsForm">

                <div id="incomes-card">
                    <div class="item-card-header">
                        <h1>INCOMES</h1><button class="addIncome primary-button">Add income</button>
                    </div>
                    <div class="item-card-content">
                        <div class="item-list">
                            <div id="incomes0" class="item-wrap">
                                <div class="card-icon">
                                    <div class="card-img house"></div>
                                    <input id="incomes0.icon" type="hidden" value="house" readonly>
                                </div>
                                <div class="card-details">
                                    <input id="incomes0.title" class="card-title" value="salary" readonly>
                                    <div class="card-divisor"></div>
                                    <input id="incomes0.amount" class="card-amount"  value="1200" readonly>
                                    <input id="incomes0.currency" class="card-currency" value="USD" readonly >
                                    <div class="card-slash"></div>
                                    <input id="incomes0.frequency" class="card-frequency" value="MONTH" readonly>
                                </div>
                                <button class="delete-button">
                                    <span class="material-symbols-outlined delete-icon">delete</span>
                                </button>
                            </div>
                            <div id="incomes1" class="item-wrap">
                                <div class="card-icon">
                                    <div class="card-img investment"></div>
                                    <input id="incomes1.icon" type="hidden" value="food" readonly>
                                </div>
                                <div class="card-details">
                                    <input id="incomes1.title" class="card-title" value="investment" readonly>
                                    <div class="card-divisor"></div>
                                    <input id="incomes1.amount" class="card-amount" value="2000" readonly>
                                    <input id="incomes1.currency" class="card-currency" value="USD" readonly>
                                    <div class="card-slash"></div>
                                    <input id="incomes1.frequency" class="card-frequency" value="QUARTER" readonly>
                                </div>
                                <button class="delete-button">
                                    <span class="material-symbols-outlined delete-icon">delete</span>
                                </button>
                            </div>
                            <div id="incomes2" class="item-wrap">
                                <div class="card-icon">
                                    <div class="card-img work"></div>
                                    <input id="incomes2.icon" type="hidden" value="work" readonly>
                                </div>
                                <div class="card-details">
                                    <input id="incomes2.title" class="card-title" value="freelance" readonly>
                                    <div class="card-divisor"></div>
                                    <input id="incomes2.amount" class="card-amount" value="100" readonly>
                                    <input id="incomes2.currency" class="card-currency" value="USD" readonly>
                                    <div class="card-slash"></div>
                                    <input id="incomes2.frequency" class="card-frequency" value="WEEK" readonly>
                                </div>
                                <button class="delete-button">
                                    <span class="material-symbols-outlined delete-icon">delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="item-card-footer">
                        <button class="scroll-up">Previous<span></span></button>
                        <button class="scroll-down">Next<span></span></button>
                    </div>
                </div>
                <div id="expenses-card">
                    <div class="item-card-header">
                        <h1>EXPENSES</h1><button class="addExpense primary-button">Add expense</button>
                    </div>
                    <div class="item-card-content">
                        <div class="item-list">
                            <div id="expenses0" class="item-wrap">
                                <div class="card-icon">
                                    <div class="card-img entertainment"></div>
                                </div>
                                <div class="card-details">
                                    <input id="expenses0.title" class="card-title" value="cinema" readonly>
                                    <div class="card-divisor"></div>
                                    <input id="expenses0.amount" class="card-amount" value="15" readonly>
                                    <input id="expenses0.currency" class="card-currency" value="USD" readonly >
                                    <div class="card-slash"></div>
                                    <input id="expenses0.frequency" class="card-frequency" value="DAY" readonly>
                                </div>
                                <button class="delete-button">
                                    <span class="material-symbols-outlined delete-icon">delete</span>
                                </button>
                            </div>
                            <div id="expenses1" class="item-wrap">
                                <div class="card-icon">
                                    <div class="card-img sport"></div>
                                </div>
                                <div class="card-details">
                                    <input id="expenses1.title" class="card-title" value="gym" readonly>
                                    <div class="card-divisor"></div>
                                    <input id="expenses1.amount" class="card-amount" value="55" readonly>
                                    <input id="expenses1.currency" class="card-currency" value="USD" readonly >
                                    <div class="card-slash"></div>
                                    <input id="expenses1.frequency" class="card-frequency" value="MONTH" readonly>
                                </div>
                                <button class="delete-button">
                                    <span class="material-symbols-outlined delete-icon">delete</span>
                                </button>
                            </div>
                            <div id="expenses2" class="item-wrap">
                                <div class="card-icon">
                                    <div class="card-img work"></div>
                                </div>
                                <div class="card-details">
                                    <input id="expenses2.title" class="card-title" value="books" readonly>
                                    <div class="card-divisor"></div>
                                    <input id="expenses2.amount" class="card-amount" value="60"  readonly>
                                    <input id="expenses2.currency" class="card-currency" value="USD" readonly >
                                    <div class="card-slash"></div>
                                    <input id="expenses2.frequency" class="card-frequency" value="QUARTER" readonly>
                                </div>
                                <button class="delete-button">
                                    <span class="material-symbols-outlined delete-icon">delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="item-card-footer">
                        <button class="scroll-up">Previous<span></span></button>
                        <button class="scroll-down">Next<span></span></button>
                    </div>
                </div>
            </form>
            <div class="main-buttons">
                <button id="continue-button" class="primary-button show">See statistics</button>
                <button id="submit-button" type="submit" class="submit-button" disabled>Save changes</button>
            </div>
        </div>
        <div class="modal-outer" id="modal-outer" th:replace="fragments/topPage :: itemModal">
            <div id="modal">
                <button class="custom-button close-button">X</button>
                <div id="modal-icon" class="custom-select custom-select-icons">
                    <div class="selected-option">
                        <div class="option-item bg-house" data-icon="house">
                            <div class="option-icon"></div>
                        </div>
                    </div> 
                    <div class="select-list">
                        <div class="option-item bg-house" data-icon="house">
                            <div class="option-icon"></div>
                        </div>
                        <div class="option-item bg-entertainment" data-icon="entertainment">
                            <div class="option-icon"></div>
                        </div>
                        <div class="option-item bg-food" data-icon="food">
                            <div class="option-icon"></div>
                        </div>
                        <div class="option-item bg-sport" data-icon="sport">
                            <div class="option-icon"></div>
                        </div>
                        <div class="option-item bg-health" data-icon="health">
                            <div class="option-icon"></div>
                        </div>
                        <div class="option-item bg-education" data-icon="education">
                            <div class="option-icon"></div>
                        </div>
                        <div class="option-item bg-work" data-icon="work">
                            <div class="option-icon"></div>
                        </div>
                        <div class="option-item bg-hygiene" data-icon="hygiene">
                            <div class="option-icon"></div>
                        </div>
                        <div class="option-item bg-investment" data-icon="investment">
                            <div class="option-icon"></div>
                        </div>
                    </div>
                </div>
                <input id="modal-title" placeholder="title" type="text" name="title"/>
                <div id="modal-amount-currency">
                    <div class="custom-input">
                        <input id="modal-amount" type="number" name="amount" placeholder="amount">
                        <div class="custom-input-actions">
                            <button class="addButton"></button>
                            <button class="substractButton"></button>
                        </div>
                    </div>
                    <div id="modal-currency" class="custom-select">
                        <div class="selected-option">
                            <div class="option-item" data-currency="USD">
                                <p class="option-text">USD</p>
                            </div>
                        </div>
                        <div class="select-list">
                            <div class="option-item" data-currency="USD">
                                <p class="option-text">USD</p>
                            </div>
                            <div class="option-item" data-currency="EUR">
                                <p class="option-text">EUR</p>
                            </div>
                            <div class="option-item" data-currency="GBP">
                                <p class="option-text">GBP</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal-category-frequency">
                    <div id="modal-category" class="custom-select">
                        <div class="selected-option">
                            <div class="option-item" data-category="FIXED">
                                <p class="option-text">FIXED</p>
                            </div>
                        </div>
                        <div class="select-list" >
                            <div class="option-item"  data-category="FIXED">
                                <p class="option-text">FIXED</p>
                            </div>
                            <div class="option-item" data-category="OCCASIONAL">
                                <p class="option-text">OCCASIONAL</p>
                            </div>
                        </div>
                    </div>
                    <div id="modal-frequency" class="custom-select">
                        <div class="selected-option">
                            <div class="option-item" data-frequency="DAY">
                                <p class="option-text">DAY</p>
                            </div>
                        </div>
                        <div class="select-list">
                            <div class="option-item" data-frequency="DAY">
                                <p class="option-text">DAY</p>
                            </div>
                            <div class="option-item" data-frequency="WEEK">
                                <p class="option-text">WEEK</p>
                            </div>
                            <div class="option-item" data-frequency="MONTH">
                                <p class="option-text">MONTH</p>
                            </div>
                            <div class="option-item" data-frequency="QUARTER">
                                <p class="option-text">QUARTER</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-buttons">
                    <button class="primary-button" type="submit" disabled>Save</button>
                    <button class="danger-button" type="submit" disabled>Discard</button>
                </div>
            </div>
        </div>      
    </section>
    <section class="bottom-page">
        <div class="stats-page" th:replace="fragments/bottomPage :: statsPage">
            <div class="stats-card">
                <div>
                    <div class="stats-title">Statistics for account: demoH</div>
                    <div class="stats-date">Date: 24/04/2024</div>
                    <div class="stats-metrics">
                        <div class="metric metric-incomes">
                            <div class="metric-text">Incomes</div>
                            <div class="metric-value">1200</div><span>USD</span>
                        </div>
                        <div class="metric metric-expenses">
                            <div class="metric-text">Expenses</div>
                            <div class="metric-value">800</div><span>USD</span>
                        </div>
                        <div class="metric metric-savings">
                            <div class="metric-text">Savings</div>
                            <div class="metric-value">400</div><span>USD</span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="primary-button back-to-main">Back to account</button>
        </div>
    </section>
    <script type="module" th:src="@{/js/main.js}" src="../static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>