<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dmservices - Login</title>
</head>
<body>
<div class="header">

</div>
<div class="main">
    <div class="container">
        <div class="row">
            <h2>Welcome to Microservices</h2>
            <div class="col">
                <a class="login-btn" href="/index">Login</a>
            </div>
            <div class="col">
                <form class="form-register" method="post" action="" th:action="@{/register}" th:object="${user}">
                    <caption class="form-login-caption">Register into Dmservices!</caption>
                    <fieldset>
                        <div>
                            <label for="newUsername">Username</label>
                            <input
                                    id="newUsername"
                                    type="text"
                                    placeholder="Create an account name"
                                    name="username"
                                    th:field="*{username}"
                                    required
                                    autofocus
                            />
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input
                                    id="email"
                                    type="email"
                                    placeholder="Email (is optional)"
                                    name="email"
                                    th:field="*{email}"
                            />
                        </div>
                        <div>
                            <label for="newPassword">Password</label>
                            <input
                                    id="newPassword"
                                    type="password"
                                    placeholder="Type a password in"
                                    name="password"
                                    th:field="*{password}"
                                    required
                            />
                        </div>
                        <button type="submit">Register</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>
<h1>Hallo welt</h1>

</body>
</html>