.forward {
    animation: showup 0.6s ease-out;
}
.forward.reversed {
    animation: hidedown 0.6s ease-out;
    animation-fill-mode: forwards;
}

.left-title {
    animation: goleft 0.6s ease-out forwards;
}
.left-title.reversed {
    animation: goright 0.6s ease-out;
    animation-fill-mode: forwards;
}

.right-title {
    animation: goright 0.6s ease-out forwards;
}
.right-title.reversed {
    animation: goleft 0.6s ease-out;
    animation-fill-mode: forwards;
}

.beat {
    animation: beat 2s infinite;
}


.up-title {
    animation: goup 0.6s ease-out;
}
.up-title.reversed {
    animation: goup 0.6s ease-out reverse;
    animation-fill-mode: forwards;
}

.bottom-buttons {
    animation: godown 0.6s ease-out;
}
.bottom-buttons.reversed {
    animation: godown 0.6s ease-out reverse;
    animation-fill-mode: forwards;
}

@keyframes goleft {
    0% {
        right: 0;
        left: 50%;
    }
    60% {
        left: -10%;
        right: 50%;
    }
    100% {
        left: 0;
        right: 50%;
    }
}
@keyframes goright {
    0% {
        right: 50%;
        left: 0;
    }
    60% {
        right: -10%;
        left: 50%;
    }
    100% {
        right: 0;
        left: 50%;
    }
}
@keyframes goup {
    0% {
        bottom: 0%;
    }
    60% {
        bottom: 75%;
    }
    100% {
        bottom: 60%;
    }
}
@keyframes godown {
    0% {
        top: 0%;
    }
    60% {
        top: 75%;
    }
    100% {
        top: 60%;
    }
}

@keyframes showup {
    0% {
        transform: scale(0.1);
    }
    60% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes hidedown {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(0.1);
    }
}
@keyframes beat {
    0% {
        transform: scale(0.85);
    }
    10% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(0.85);
    }
}