.hidden-inputs {
    display: none;
}
fieldset.hidden {
    display: none;
}

#form-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    max-width: 84rem;
    margin: 2rem auto;
    margin-top: 7rem;
}

.submit-button {
    width: 10rem;
    margin: 0 auto;
}

#incomes-card, #expenses-card {
    position: relative;
    border: solid rgb(127, 202, 114) 0.5rem;
    flex-basis: 45%;
    max-width: 45%;
    height: 43rem;
    flex-grow: 1;
    overflow: hidden;
}
.item-card-header {
    height: 5rem;
    padding: 0.75rem 2rem;
    background-color: rgb(127, 202, 114);
    display: flex;
    justify-content: space-between;
}
.item-card-header h1 {
    font-size: 2rem;
}
.item-card-header .primary-button {
    font-size: 1rem;
    background-color: transparent;
    margin: auto 0;
}
.item-card-footer {
    display: flex;
    height: 5rem;
    text-align: right;
    align-items: center;
    justify-content: right;
}
.item-card-footer button.scroll-up, .item-card-footer button.scroll-down {
    display: block;
    position: relative;
    background-color: transparent;
    margin: 1rem;
    padding: 0.5rem 2rem;
    padding-right: 3rem;
    outline: none;
    border: none;
    font-size: large;
    transition: all 0.5s;
}
.item-card-footer button.scroll-up:hover, .item-card-footer button.scroll-down:hover {
    background-color: rgb(244, 252, 242);
    color: rgb(2, 74, 2);
}
.item-card-footer button.scroll-up:active, .item-card-footer button.scroll-down:active {
    background-color: lightgreen;
}
.item-card-footer button.scroll-up span,  .item-card-footer button.scroll-down span{
    display: block;
    position: absolute;
    top: 50%;
    left: 7rem;
    width: 0;
    height: 0;
    border: 0.75rem solid rgb(2, 74, 2);
    border-color: rgb(2, 74, 2) transparent transparent transparent;
    font-size: large;
}
.item-card-footer button.scroll-up span {
    border-color: transparent transparent rgb(2, 74, 2) transparent;
    top: 25%;
    left: 9.5rem;
}

.item-card-content {
    position: relative;
    height: 32rem;
    overflow: hidden;
}
.card-empty {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgb(249, 255, 248);
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
    height: 32rem;
}
.card-empty h1 {
    margin-top: -10rem;
}
.card-empty .primary-button {
    width: 70%;
    margin: 0 auto;
}

.item-list {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    cursor: pointer;
    transition: all ease-in 0.4s;
}
.item-wrap {
    position: relative;
    height: 8rem;
    background-color: rgb(250, 255, 249);
    margin: 0;
    display: flex;
    transition: all 0.2s;
}
.item-wrap:hover {
    background-color: rgb(215, 241, 211);
}
.item-wrap input {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.item-wrap input:focus {
    outline: none;
}
.item-wrap input:hover {
    cursor: pointer;
}

/* Card icon and sprites */
.card-icon {
    height: 100%;
    width: 6rem;
}
.card-img {
    position: relative;
    top: 50%;
    margin-left: 1rem;
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    background: url("../images/small_item.png") no-repeat;
}
.card-img.house {
    background-position: -130px -70px;
}
.card-img.entertainment {
    background-position: -70px -70px;
}
.card-img.food {
    background-position: -70px -10px;
}
.card-img.education {
    background-position: -10px -70px;
}
.card-img.work {
    background-position: -10px -10px;
}
.card-img.sport {
    background-position: -130px -130px;
}
.card-img.health {
    background-position: -130px -10px;
}
.card-img.hygiene {
    background-position: -10px -130px;
}
.card-img.investment {
    background-position: -70px -130px;
}
/* ------------------------------------------ */
.card-divisor {
    position: absolute; 
    top: 3.5rem;
    width: 80%;
    height: 1px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}
.card-slash {
    display: block;
    margin-top: 1.6rem;
    margin-left: 0rem;
    border-left: solid black 0.12rem;
    width: 0rem;
    height: 1rem;
    color: black;
    transform: rotate(30deg);
}
.card-details {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-basis: 80%;
    flex-grow: 1;
    flex-shrink: 0;
}

.card-details input {
    height: 3.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

input.card-title {
    flex-shrink: 0;
    flex-basis: 100%;   
    padding-left: 2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    max-height: 60%;
    font-weight: bolder;
}

input.card-amount {
    flex-grow: 1;
    font-size: large;
    width: 55%;
    text-align: right;
    font-weight: 600;
}

input.card-currency {
    width: 10%;
    padding-top: 0.75rem;
    font-style: italic;
    font-weight: 500;
}

input.card-frequency {
    flex-grow: 1;
    width: 30%;
    padding-top: 0.75rem;
    font-style: italic;
    font-weight: 400;
}

.item-wrap .delete-button {
    position: absolute;
    padding: 0;
    text-align: center;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: none;
    top: 0.5rem;
    right: 0.5rem;
    transition: all 0.4s;
}

.item-wrap .delete-button .delete-icon {
    font-size: 2rem;
    margin: 0;
}
.item-wrap .delete-button:hover {
    box-shadow: 0px 0px 0px 2px rgb(57, 102, 49);
    background-color: rgb(127, 202, 114);
}


.modal-outer {
    display: none;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background-color: rgba(106, 101, 101, 0.162);
}
.modal-show {
    display: block;
}
.modal-show #modal {
    transform: rotateY(0deg);
}
#modal {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    height: 40rem;
    width: 35rem;
    margin: auto;
    background-color: rgb(249, 255, 248);
    border: double lightgreen 0.5rem;
    padding: 0.5rem 2rem;
    padding-top: 5rem;
    z-index: 1000;
    transform-style: preserve-3d;
    transform: rotateY(-60deg);
    transition: all 0.4s;
}


#modal-note {
    position: absolute;
    padding: 2rem;
    height: 40rem;
    width: 40rem;
    margin: auto;
    background-color: rgb(249, 255, 248);
    border: double 0.4rem lightgreen;
    transform: rotateY(-60deg);
    transition: all 3s;
}

.modal-errors {
    position: absolute;
    top: 1.5rem;
    right: -12.5rem;
    width: 12rem;
    max-width: 12rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.error-message {
    display: block;
    position: relative;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    font-size: 0;
    color: transparent;
    font-family: monospace;
    letter-spacing: 0.25rem;
    padding: 0.25rem;
    background-color: rgb(253, 79, 79);
    border: solid 0.3rem darkred;
    cursor: pointer;
    transition: all 0.2s;
}
.error-message::after {
    content: "!";
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-family: monospace;
    position: absolute;
    top:0; bottom:0; left: 50%; right: 0;
    transform: translate(-50%);

}

.error-message:hover {
    width: fit-content;
    height: fit-content;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}
.error-message:hover::after {
    display: none;
}
