#flipper {
    position: relative;
    transition: 1s;
}
#FRONTCARD, #BACKCARD {
	top:0; bottom: 0; left:0; right: 0;
    position: absolute;
    text-align: center;
}
.flippedcardinfo {
    transform: rotateY(180deg);
}
#infopage {
    z-index: 4;
    width: 960px;
    background-color: wheat;
    text-align: center;
    position: absolute;
    height: 600px;
    display: none;
}
