button, #modal button {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    outline: 0.2rem solid rgb(1, 75, 1);
    background-color: rgb(218, 252, 226);
    color: rgb(45, 45, 45);
    padding: 0.5rem 1rem;
    transition: 0.3s;
}
button:hover, #modal button:hover {
    background-color: rgb(148, 243, 172);
    color: #555;
}
input[type=text], input[type=number] {
    background-color: lightblue;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    border: none;
    outline: none;
    border-bottom: black 0.5rem solid;
}

#modaltitle {
    display: block;
    width: 100%;
    height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    background-color: rgb(231, 247, 238);
    border-bottom: solid rgb(4, 62, 17) 0.2rem;
}   

.custom-select {
    position: relative;
}
.custom-select select {
    display: none;
}

.select-selected {
    background-color: lightpink;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
    border-color:rgb(4, 62, 17) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent rgb(4, 62, 17) transparent;
    top: 7px;
}
.select-items div, .select-selected {
    color: white;
    padding: 8px 10px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
.select-items {
    position: absolute;
    background-color: lightsalmon;
    top: 100%;
    left: 0;
    right: 0;
}

.select-items.select-hide, #modal .custom-select:nth-child(2) .select-items.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

#modal .custom-select:nth-child(2) {
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
}
#modal .custom-select:nth-child(2) .select-items {
    position:absolute;
    width: 25rem;
    height: 25rem;
    background-color: red;
    margin-left: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    z-index: 99;
}

#modal .custom-select:nth-child(2) .select-selected {
    background-color: lawngreen;
    width: 7rem;
    height: 7rem;
    border-radius: 25%;
}
#modal .custom-select:nth-child(2) .select-selected:after,  #modal .custom-select:nth-child(2) .select-selected.select-arrow-active:after{
    top: 5px;
    right: 5px;
    border-color: #555;
    border-radius: 50%;
}
#modal .custom-select:nth-child(2) .select-items div {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    height: 5rem;
}
#modal .custom-select:nth-child(2) .select-items div img {
    width: 5rem;
    height: 5rem;
    
}
