html {
    box-sizing: content-box;
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
}
body .main {
    font-family: "VT323", monospace;
}
.header {
    margin: 0;
    padding: 2em;
    background-color: rgba(255, 233, 24, 0.8);
    height: 5rem;
    text-align: center;
}
.main {
    background-color: rgba(27, 27, 27, 0.91);
}
