html {
    box-sizing: content-box;
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
}
body .main {
    font-family: "VT323", monospace;
}
.main {
    background-color: rgba(27, 27, 27, 0.91);
}

