@import url("./forms.css");

.columnimage  {
    background: url("../images/spritesheet.png");
    background-repeat: no-repeat;    
}


#loginpage {
    top:0; bottom: 0; left:0; right: 0;
    position: absolute;
    margin: auto;
    width: 35rem;
    height: 55rem;
}
#flipper {
    backface-visibility: visible;
    transform-style: preserve-3d;
    position: relative;
    overflow: visible;
    transition: all 1s;
}

.flippedcardinfo {
    transform: rotateY(180deg);
}

#FRONTCARD, #BACKCARD {
    color:rgb(58, 67, 71);
    backface-visibility: hidden;
    overflow: visible;
    top:0; bottom: 0; left:0; right: 0;
    width: 35rem;
    text-align: center;
    position: absolute;
}

.legend {
    margin: 2rem auto;
}

/* FIRST CARD */

#FRONTCARD {
    z-index: 2;
    height: 45rem;
    transform: rotateY(0deg);
}
#piggy {
    background-image: url("../images/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -180px -10px;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    margin-top: 5rem;
}
.auto-shake {
    animation: auto-shake 1.2s 1;
}
.hover-shake {
    animation: hover-shake 1.2s 1;
}
#info {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0.3rem solid black;
    border-radius: 50%;
    padding: 1rem;
    transition: all 0.2s;
}
#info::before {
    content: "i";
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    top: -0.5rem;
    right: 50%;
    transform: translateX(50%);
    transition: all 0.2s;
}
#info:hover {
    border-color: lightgreen;
}
#info:hover::before {
    color: lightgreen;
}


.fliptext {
    font-size: 1.7rem;
    position: absolute;
    width: 30rem;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    text-transform: lowercase;
    font-size: medium;
}

.flipinfotext {
    font-size: 1.7rem;
    position: absolute;
    width: 30rem;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-transform: lowercase;
    font-size: medium;
}

.fliptext a, .flipinfotext a {
    color: rgb(24, 68, 24);
    font-weight: bold;
    text-decoration: underline double lightgreen 0.02rem;
}

.fliptext a:hover, .flipinfotext a:hover {
    color: rgba(14, 40, 14, 0.418);
}

/* SECOND PAGE  */

#BACKCARD {
    z-index: 1;
    height: 55rem;
    transform: rotateY(180deg);
}

.avatar {
    background-image: url("../images/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    margin-top: 2rem;
}

/* INFO PAGE */

.flipinfo, .frominfo {
    cursor: pointer;
}
.infoflipback {
    position: absolute;
    top: -12%;
    width: 100%;
    height: 50rem;
    cursor: pointer;
}
#infopage {
    background-color: white;
    color:rgb(58, 67, 71);
    position: absolute; 
    display: none;
    margin-left: calc((-100vw + 35rem)/2);
    height: 94vh;
    width: 100vw;
    z-index: 4;
}
#regpage {
    display: block;
}
#infosubtitle, #infotitle, #infofooter, #iconsfooter {
    color:rgb(58, 67, 71);
    cursor: pointer;
    font-family: 'Roboto';
    position: absolute;
    left: 0; right: 0;
    margin: auto;
    width: 100%;
}
#infosubtitle {
    font-size: 2rem;
    top: 0;
    height: 3rem;
    letter-spacing: 0.25rem;
}
#infotitle {
    top: 3.5rem;
    font-size: 2.7rem;
    height: 4rem;
    font-weight: 600;
}

a#iconfooter {
    position: absolute;
    bottom: 9rem;
    left: 50%;
    transform: translate(-50%);
    background-image: url("../images/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -350px -180px;
    width: 5rem;
    height: 5rem;
    font-size: 1.8rem;
    text-decoration: none;
    display: block;
    margin: auto;
}

span.textfooter {
    position: absolute;
    bottom: 5.5rem;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.3rem;
}

#infoline {
    position: relative;
    width: 61rem;
	display: block;
	margin: auto;
	top: 39.5rem;
	border-top: 0.4rem solid lightgreen;
}
#infolinetext {
    text-decoration: none;
    color: rgb(58, 67, 71);
    padding: 2rem 3rem;
    text-transform: lowercase;
	letter-spacing: 2px;
	font-size: 2rem;
	position: relative;
	width: fit-content;
	height: 3rem;
    border: lightgreen 0.4rem solid;
	display: block;
	margin: auto;
    line-height: 0rem;
	top: calc(42.5rem - 6.5rem);
	background-color: white;
    transition: background-color 0.4s;
}
#infolinetext:hover {
	background-color:rgb(190, 224, 237);
}
.infocolumn {
    position: absolute;
    top: 10rem;
    margin: auto;
    display: block;
    width: 28rem;
    height: 30rem;
    overflow: hidden;
}

#infoleft {
    left: 0;
}
#inforight {
    right: 0;
}
#infocenter {
    left: 0; right: 0;
}
.columnimage {
    position: absolute;
    width: 15rem;
    height: 15rem;
    margin: auto;
    left:0; right: 0; top: 30px;
}
#leftcolumn > .columnimage {
    background-position: -350px -10px;
}
#rightcolumn > .columnimage {
    background-position: -180px -180px;
}
#centercolumn > .columnimage {
    background-position: -10px -180px;
}
#leftcolumn, #rightcolumn, #centercolumn {
    transition: 1s;
    font-size: 1.2rem;
    width: 100%;
    height: 200%;
    position: absolute;
    padding-top: 20rem;
    text-align: center;
    top: 0;
}

#leftcolumn:hover, #rightcolumn:hover, #centercolumn:hover {
    top: -100%;
}

.columnfooter {
    position: relative;
    top: 15rem;
    font-size: 1.1rem;
    line-height: 1.7rem;
}


/* KEYFRAMES */

@keyframes auto-shake {
	0% {
		transform: rotate(0deg);
	}
	35% {
		transform: rotate(55deg);
	}
	50% {
		transform: rotate(-35deg);
	}
	70% {
		transform: rotate(20deg);
	}
	90% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes hover-shake {
	0% {
		transform: rotate(0deg);
	}
	30% {
		transform: rotate(-30deg);
	}
	50% {
		transform: rotate(20deg);
	}
	70% {
		transform: rotate(-10deg);
	}
	90% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}



@keyframes enterarrow {
    0% {
		transform: translateX(0);
	}
	5% {
		transform: translateX(-0.5rem);
	}
	15% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(-0.5rem);
	}
	35% {
		transform: translateX(-0.5rem);
	}
	100% {
		transform: translateX(0);
	}
}


@media only screen and (min-width: 985px) {
    #infoleft {
        left: 15rem;
    }
    #inforight {
        right: 15rem;
    }
}