/* FORMS */

.backlogin, .backpassword, .firstenter, .loginsubmit {
    background: url("../images/spritesheet.png") no-repeat;
}

.form {
    margin: auto;
    width: 30rem;
}
.form input {
    color:rgb(58, 67, 71);
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0.25rem 1rem;
    font-size: large;
    text-align: center;
    outline: double lightgreen 0.5rem;
    background-color: rgb(247, 252, 254);
    border: none;
}
.form button {
    border: none;
    margin-top: 1.5rem;
    outline: double lightgreen 0.5rem;
    background-color: rgb(247, 252, 254);
    font-size: 2rem;
    color:rgb(58, 67, 71);
    padding: 0.5rem 1.75rem;
    transition: all 0.3s;
}
.form button:hover {
    outline: 0.5rem solid lightgreen;
    background-color: rgb(135, 157, 166);
}
/* LOGIN FORM  */

#loginform {
    transform-style: preserve-3d;
    display: block;
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translateX(-50%);    
    width: 80%;
    height: 5rem;
    perspective: 100rem;
    transition: all 1s;
    z-index: 3;
}

#loginform.flippedform {
    transform: translateX(-50%) rotateY(180deg);
}

.formside {
    display: flex;
    position: absolute;
    backface-visibility: hidden;
    outline: 0.5rem double lightgreen;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.sideone {
    z-index: 9;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.sidetwo {
    z-index: 8;
    transform: rotateY(180deg);
}
.backlogin, .backpassword {
    cursor: pointer;
    display: block;
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.backlogin {
    background-position: -450px -250px;
}
.backpassword {
    background-position: -400px -250px;
}
.firstenter {
    background-position: -420px -180px;
    width: 3.4rem;
    height: 3.4rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    display: block;
    animation: enterarrow 2s infinite;
    display: none;
}

.logininput {
    display: block;
    flex-grow: 1;
    text-align: center;
    height: 5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    transition: all 0.4s;
}

.loginsubmit {
    background-position: -350px -250px;
    width: 3rem;
    height: 3rem;
    display: none;
    border: none;
    margin-top: 1rem;
    margin-right: 1rem;
}

