@import url("./cards.css");
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'RBold';
    src: url(../fonts/Roboto-Bold.ttf);
}
html {
    box-sizing: content-box;
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
}

