<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dmservices - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
</head>

<body>
    <div class="header">
        <h1>Dmservices</h1>
    </div>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="form-login" method="post" action="/api/uaa/login">
                        <h2 class="form-login-caption">Login into Dmservices!</h2>
                        <fieldset>
                            <div>
                                <label for="username">Username</label>
                                <input
                                        id="username"
                                        type="text"
                                        placeholder="Your account name"
                                        name="username"
                                        required
                                        autofocus
                                />
                            </div>
                            <div>
                                <label for="password">Password</label>
                                <input
                                        id="password"
                                        type="password"
                                        placeholder="Your password"
                                        name="password"
                                        required
                                />
                            </div>
                            <div>
                            <button type="submit">Login</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>