<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microservices</title>
</head>
<body>

<section class="top-page">
    <div class="main-page">
        <form  id="form-wrapper" th:action="@{/save/{accountName}(accountName=${account.name})}" th:method="post" th:object="${account}" action="#" th:fragment="itemsForm">
            <fieldset class="hidden">
                <input type="hidden" th:field="*{name}"/>
                <input type="hidden" th:field="*{note}"/>
                <input type="hidden" th:field="*{avatar}"/>
                <input type ="hidden" th:field="*{currency}"/>
            </fieldset>
            <div id="incomes-card" th:unless="*{#lists.isEmpty(expenses)}">
                <div class="item-card-header">
                    <h1>INCOMES</h1><button class="addIncome primary-button">Add income</button>
                </div>
                <div class="item-card-content">
                    <div class="item-list">
                        <div id="incomes0" th:each="item, stat : *{incomes}" th:id="${'incomes' + stat.index}" class="item-wrap">
                            <div class="hidden-inputs">
                                <input th:id="${'incomes' + stat.index + '.id'}" type="hidden" th:field="*{incomes[__${stat.index}__].id}"  >
                                <input th:id="${'incomes' + stat.index + '.accountName'}"  type="hidden" th:field="*{incomes[__${stat.index}__].accountName}" >
                                <input th:id="${'incomes' + stat.index + '.type'}" type="hidden" th:field="*{incomes[__${stat.index}__].type}" >
                                <input th:id="${'incomes' + stat.index + '.category'}" type="hidden" th:field="*{incomes[__${stat.index}__].category}" >
                            </div>
                            <div class="card-icon">
                                <div th:class="${'card-img ' + item.icon}"></div>
                                <input th:id="${'incomes' + stat.index + '.icon'}" type="hidden" th:field="*{incomes[__${stat.index}__].icon}"  readonly>
                            </div>
                            <div class="card-details">
                                <input th:id="${'incomes' + stat.index + '.title'}"  class="card-title" th:type="text" th:field="*{incomes[__${stat.index}__].title}" readonly>
                                <div class="card-divisor"></div>
                                <input th:id="${'incomes' + stat.index + '.amount'}" class="card-amount" th:type="number" th:field="*{incomes[__${stat.index}__].amount}" readonly>
                                <input th:id="${'incomes' + stat.index + '.currency'}" class="card-currency" th:type="text" th:field="*{incomes[__${stat.index}__].currency}" readonly >
                                <div class="card-slash"></div>
                                <input th:id="${'incomes' + stat.index + '.frequency'}" class="card-frequency" th:type="text" th:field="*{incomes[__${stat.index}__].frequency}" readonly>
                            </div>
                            <button class="delete-button">
                                <span class="material-symbols-outlined delete-icon">delete</span>
                            </button>
                        </div>
                    </div>
                    <div th:if="*{#lists.isEmpty(incomes)}" class="card-empty">
                        <h1>No incomes yet...</h1>
                        <button class="addIncome primary-button">Add income</button>
                    </div>
                </div>
                <div class="item-card-footer">
                    <button class="scroll-up">Previous<span></span></button>
                    <button class="scroll-down">Next<span></span></button>
                </div>
            </div>
            <div id="expenses-card">
                <div class="item-card-header">
                    <h1>EXPENSES</h1><button class="addExpense primary-button">Add expense</button>
                </div>
                <div class="item-card-content">
                    <div class="item-list" th:unless="*{#lists.isEmpty(expenses)}">
                        <div  th:id="${'expenses' + stat.index}" th:each="item, stat : *{expenses}" class="item-wrap">
                            <div class="hidden-inputs">
                                <input th:id="${'expenses' + stat.index + '.id'}" type="hidden" th:field="*{expenses[__${stat.index}__].id}">
                                <input th:id="${'expenses' + stat.index + '.accountName'}"  type="hidden" th:field="*{expenses[__${stat.index}__].accountName}" >
                                <input th:id="${'expenses' + stat.index + '.type'}" type="hidden" th:field="*{expenses[__${stat.index}__].type}">
                                <input th:id="${'expenses' + stat.index + '.category'}" type="hidden" th:field="*{expenses[__${stat.index}__].category}">
                            </div>
                            <div class="card-icon">
                                <div class="card-img entertainment" th:class="${'card-img ' + item.icon}"></div>
                                <input th:id="${'expenses' + stat.index + '.icon'}" type="hidden" th:field="*{expenses[__${stat.index}__].icon}" readonly>
                            </div>
                            <div class="card-details">
                                <input th:id="${'expenses' + stat.index + '.title'}" class="card-title" th:type="text" th:field="*{expenses[__${stat.index}__].title}" readonly>
                                <div class="card-divisor"></div>
                                <input th:id="${'expenses' + stat.index + '.amount'}" class="card-amount" th:type="number" th:field="*{expenses[__${stat.index}__].amount}" readonly>
                                <input th:id="${'expenses' + stat.index + '.currency'}" class="card-currency" th:type="text" th:field="*{expenses[__${stat.index}__].currency}"  readonly >
                                <div class="card-slash"></div>
                                <input  th:id="${'expenses' + stat.index + '.frequency'}"  class="card-frequency" th:type="text" th:field="*{expenses[__${stat.index}__].frequency}"  readonly>
                            </div>
                            <button class="delete-button">
                                <span class="material-symbols-outlined delete-icon">delete</span>
                            </button>
                        </div>
                    </div>
                    <div th:if="*{#lists.isEmpty(expenses)}" class="card-empty">
                        <h1>No expenses yet...</h1>
                        <button class="addExpense primary-button">Add expense</button>
                    </div>
                </div>
                <div class="item-card-footer">
                    <button class="scroll-up">Previous<span></span></button>
                    <button class="scroll-down">Next<span></span></button>
                </div>
            </div>
        </form>
        <div class="main-buttons">
            <button id="continue-button" class="primary-button show">See statistics</button>
            <button id="submit-button" type="submit" class="submit-button" disabled>Save changes</button>
        </div>
    </div>
</section>
</body>
</html>