<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Microservices</title>
</head>
<body>
    <div class="header" th:fragment="header">
        <div th:text="${account.name}">demo</div>
        <div class="header-icon bg-piggy" th:class="${'header-icon bg-' + account.avatar}"></div>
        <div class="last-seen" th:text="${account.lastSeen}">24/03/2024</div>
        <div class="header-toggler">i</div>
    </div>
</body>
</html>