<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beispiel</title>
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
<div class="header" th:replace="~{/fragments/header :: header}">
    <h1>Dmservices</h1>
</div>
<div class="main">
    <div class="col col-tables" th:fragment="itemTables">
        <table class="item-table incomes-table" th:unless="${#lists.isEmpty(account.incomes)}">
            <caption>Incomes</caption>
            <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Currency</th>
                <th>Frequency</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${account.incomes}">
                <td th:text="${item.title}"></td>
                <td th:text="${item.amount}"></td>
                <td th:text="#{${'categories.' + item.category}}"></td>
                <td th:text="#{${'currencies.' + item.currency}}"></td>
                <td th:text="#{${'frequencies.' + item.frequency}}"></td>
            </tr>
            </tbody>
        </table>
        <table class="item-table expenses-table" th:unless="${#lists.isEmpty(account.expenses)}">
            <caption>Incomes</caption>
            <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Currency</th>
                <th>Frequency</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${account.expenses}">
                <td th:text="${item.title}"></td>
                <td th:text="${item.amount}"></td>
                <td th:text="#{${'categories.' + item.category}}"></td>
                <td th:text="#{${'currencies.' + item.currency}}"></td>
                <td th:text="#{${'frequencies.' + item.frequency}}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="footer" th:replace="~{/fragments/footer :: footer}">
    <p>cool Copy 2024</p>
</div>
</body>
</html>