<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Microservices</title>
</head>
<body>
<div class="footer" th:fragment="footer">
    <form class="newsletter" th:fragment="newsletter">
        <caption>Subscribe to our newsletter</caption>
        <fieldset>
            <label>Your Email</label>
            <input type="email" required minlength="5"/>
        </fieldset>
    </form>
</div>
</body>
</html>