<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beispiel</title>
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
<div class="header" th:replace="~{/fragments/header :: header}">
    <h1>Dmservices</h1>
</div>
<div class="main">
    <div class="col" th:each="stat : ${stats}" th:fragment="statsChart">
        <div class="stats-chart" th:if="${stat.statsDate != null}">
            <h1 th:text="${stat.accountName}">Stats</h1>
            <span th:text="${stat.statsDate}"></span>
            <p th:text="${stat.totalIncomes}"></p>
            <p th:text="${stat.totalExpenses}"></p>
        </div>
    </div>
</div>
<div class="footer" th:replace="~{/fragments/footer :: footer}">
    <p>cool Copy 2024</p>
</div>
</body>
</html>